@import url("../abstracts/_functions.scss");
body {
  background-color: #282C33;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  margin: auto;
  max-width: 1300px;
  padding: 0 16px;
  width: 100%;
}
@media (min-width: 1024px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 66px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 50px;
  }
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.font-sora {
  font-family: "Sora", sans-serif;
}

header {
  align-items: center;
  background-color: rgba(19, 20, 22, 0.8);
  border-radius: 38px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  max-width: 1300px;
  padding: 5px 16px;
  position: fixed;
  top: 10px;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  z-index: 999;
}
header a.logo {
  display: inline-flex;
}
header a.logo img {
  height: auto;
  width: 180px;
}
@media (min-width: 600px) {
  header a.logo img {
    width: 200px;
  }
}
@media (min-width: 900px) {
  header a.logo img {
    width: 216px;
  }
}
@media (min-width: 1024px) {
  header a.logo img {
    width: 237px;
  }
}
header .desktop-navigation-menu {
  display: none;
  max-width: 560px;
  width: 100%;
}
header .desktop-navigation-menu ul {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
}
header .desktop-navigation-menu ul li {
  display: inline-block;
  display: flex;
  gap: 4px;
  line-height: 225%;
  list-style: none;
  position: relative;
  width: fit-content;
}
header .desktop-navigation-menu ul li a {
  color: #ABB2BF;
  display: block;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
header .desktop-navigation-menu ul li a > span {
  color: transparent;
  font-family: "Poppins";
  font-weight: 600;
  transition: color 0ms;
}
@media (min-width: 1024px) {
  header .desktop-navigation-menu ul li a {
    font-size: 18px;
  }
}
header .desktop-navigation-menu ul li:hover a {
  color: #FFFFFF;
}
header .desktop-navigation-menu ul li:hover a > span {
  color: #FFFFFF;
  transition: color 350ms;
}
header .desktop-navigation-menu ul li:hover .mark-circle span {
  transform: scale(1);
}
header .desktop-navigation-menu ul li .mark-circle {
  bottom: 0px;
  display: flex;
  gap: 5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: -1;
}
header .desktop-navigation-menu ul li .mark-circle span {
  background-color: #FFFFFF;
  border-radius: 100%;
  height: 5px;
  transform: scale(0);
  transition: all 300ms ease;
  width: 5px;
}
@media (min-width: 1024px) {
  header .desktop-navigation-menu ul li .mark-circle span {
    height: 6px;
    width: 6px;
  }
}
@media (min-width: 900px) {
  header .desktop-navigation-menu {
    display: flex;
  }
}
@media (min-width: 1024px) {
  header .desktop-navigation-menu {
    max-width: 606px;
  }
}
header .mobile-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 25px;
  padding: 5px 2px;
  position: relative;
  width: 24px;
}
header .mobile-menu:hover span:nth-child(1), header .mobile-menu:hover span:nth-child(3) {
  width: 100%;
}
header .mobile-menu span {
  align-self: flex-end;
  background-color: #FFFFFF;
  border-radius: 20px;
  height: 2px;
  position: absolute;
  right: 0;
  transition: transform 300ms ease;
  width: 100%;
}
header .mobile-menu span:nth-child(1) {
  top: 3px;
  width: 75%;
}
header .mobile-menu span:nth-child(2) {
  top: 10px;
}
header .mobile-menu span:nth-child(3) {
  top: 18px;
  width: 75%;
}
header .mobile-menu.-close span {
  align-self: flex-end;
  background-color: #FFFFFF;
  border-radius: 20px;
  height: 2px;
  right: 0;
  top: 10px;
}
header .mobile-menu.-close span:nth-child(1) {
  transform: rotate(45deg);
  width: 100%;
}
header .mobile-menu.-close span:nth-child(2) {
  background-color: transparent;
}
header .mobile-menu.-close span:nth-child(3) {
  transform: rotate(-45deg);
  width: 100%;
}
@media (min-width: 900px) {
  header .mobile-menu {
    display: none !important;
  }
}
@media (min-width: 600px) {
  header {
    padding: 10px 32px;
  }
}
@media (min-width: 900px) {
  header {
    padding: 12px 24px;
  }
}
@media (min-width: 1024px) {
  header {
    padding: 15px 50px;
  }
}

.mobile-navigation-menu {
  background-color: #131416;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: -100%;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-between;
  left: 0;
  max-height: 600px;
  padding: 24px 30px;
  position: fixed;
  transition: bottom 600ms ease;
  width: 100%;
  z-index: 998;
}
.mobile-navigation-menu.-active {
  bottom: 0;
}
.mobile-navigation-menu ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
}
.mobile-navigation-menu ul li {
  display: inline-block;
  display: flex;
  gap: 4px;
  line-height: 225%;
  list-style: none;
  position: relative;
  width: fit-content;
}
.mobile-navigation-menu ul li:hover a {
  color: #FFFFFF;
}
.mobile-navigation-menu ul li:hover a > span {
  color: #FFFFFF;
  transition: color 350ms;
}
.mobile-navigation-menu ul li:hover .mark-circle span {
  transform: scale(1);
}
.mobile-navigation-menu ul li .mark-circle {
  bottom: 0px;
  display: flex;
  gap: 5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: -1;
}
.mobile-navigation-menu ul li .mark-circle span {
  background-color: #FFFFFF;
  border-radius: 100%;
  height: 5px;
  transform: scale(0);
  transition: all 300ms ease;
  width: 5px;
}
.mobile-navigation-menu ul li a {
  color: #ABB2BF;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 900;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
}
.mobile-navigation-menu ul li a > span {
  color: #131416;
  font-family: "Poppins";
  font-weight: 900;
  transition: color 0ms;
}
.mobile-navigation-menu .name-animation {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 24px);
  justify-content: space-between;
  position: absolute;
  right: 12px;
  top: 12px;
  width: max-content;
}
.mobile-navigation-menu .name-animation span {
  color: transparent;
  font: 900 54px/48px "Poppins", sans-serif;
  opacity: 0.1;
  -webkit-text-stroke-color: #FFFFFF;
  -webkit-text-stroke-width: 0.5px;
}
@media (min-width: 600px) {
  .mobile-navigation-menu .name-animation {
    right: 45px;
  }
}
.mobile-navigation-menu .social-media-container {
  display: inline-flex;
  gap: 22px;
}
.mobile-navigation-menu .social-media-container span {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 42px;
}
.mobile-navigation-menu .social-media-container span svg path {
  fill: #ABB2BF;
}
.mobile-navigation-menu .social-media-container span:hover svg path {
  fill: #FFFFFF;
}
.mobile-navigation-menu .social-media-container span:hover::before {
  background-color: #FFFFFF;
  width: 3px;
}
.mobile-navigation-menu .social-media-container span::before {
  background-color: #ABB2BF;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
}
@media (min-width: 900px) {
  .mobile-navigation-menu {
    display: none;
  }
}

.hero-section {
  height: 100vh;
  max-height: 535px;
  min-height: 400px;
  padding: 112px 0 50px;
  position: relative;
}
.hero-section .point-bg {
  display: none;
}
.hero-section .container {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
}
@media (min-width: 768px) {
  .hero-section .container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
.hero-section .container .line-bg {
  background-color: rgba(217, 217, 217, 0.25);
  height: 38px;
  left: -204px;
  position: absolute;
  top: -50px;
  transform: rotate(134deg);
  width: 150%;
  z-index: 1;
}
@media (min-width: 500px) {
  .hero-section .container .line-bg {
    left: -275px;
    top: -16px;
  }
}
@media (min-width: 500px) {
  .hero-section .container .line-bg {
    left: -400px;
    top: 100px;
  }
}
@media (min-width: 585px) {
  .hero-section .container .line-bg {
    left: -475px;
  }
}
@media (min-width: 650px) {
  .hero-section .container .line-bg {
    left: -525px;
  }
}
@media (min-width: 768px) {
  .hero-section .container .line-bg {
    height: 71px;
  }
}
@media (min-width: 992px) {
  .hero-section .container .line-bg {
    height: 71px;
    left: -600px;
  }
}
@media (min-width: 1024px) {
  .hero-section .container .line-bg {
    left: -650px;
  }
}
@media (min-width: 1200px) {
  .hero-section .container .line-bg {
    left: -750px;
  }
}
@media (min-width: 1300px) {
  .hero-section .container .line-bg {
    left: -814px;
  }
}
.hero-section .container .left-box {
  flex: 66;
  margin-bottom: 20px;
}
.hero-section .container .left-box .profession-text {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 10px;
  font-weight: medium;
  justify-content: center;
  letter-spacing: 0.5px;
  line-height: 135%;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 585px) {
  .hero-section .container .left-box .profession-text {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .hero-section .container .left-box .profession-text {
    justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  .hero-section .container .left-box .profession-text {
    font-size: 15px;
  }
}
.hero-section .container .left-box .profession-text span {
  background-color: #D9D9D9;
  border-radius: 100%;
  display: block;
  height: 12px;
  margin-right: 12px;
  width: 12px;
}
@media (min-width: 992px) {
  .hero-section .container .left-box .profession-text span {
    border-radius: 0;
    height: 1px;
    width: 81px;
  }
}
.hero-section .container .left-box h1 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 135%;
  margin-bottom: 4px;
  text-align: center;
}
@media (min-width: 585px) {
  .hero-section .container .left-box h1 {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .hero-section .container .left-box h1 {
    text-align: start;
  }
}
@media (min-width: 992px) {
  .hero-section .container .left-box h1 {
    font-size: 50px;
    letter-spacing: 0;
  }
}
@media (min-width: 1024px) {
  .hero-section .container .left-box h1 {
    font-size: 54px;
    letter-spacing: -1px;
  }
}
@media (min-width: 1200px) {
  .hero-section .container .left-box h1 {
    font-size: 62px;
  }
}
@media (min-width: 1364px) {
  .hero-section .container .left-box h1 {
    font-size: 70px;
  }
}
.hero-section .container .left-box .name-text {
  color: transparent;
  font: 900 54px/48px "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 135%;
  text-align: center;
  -webkit-text-stroke-color: #FFFFFF;
  -webkit-text-stroke-width: 0.5px;
}
@media (min-width: 585px) {
  .hero-section .container .left-box .name-text {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .hero-section .container .left-box .name-text {
    text-align: start;
  }
}
@media (min-width: 992px) {
  .hero-section .container .left-box .name-text {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .hero-section .container .left-box {
    margin-bottom: 0px;
  }
}
.hero-section .container .right-box {
  display: flex;
  flex: 48;
  justify-content: center;
  padding: 36px 0 30px;
  position: relative;
}
@media (min-width: 992px) {
  .hero-section .container .right-box {
    flex: 39;
  }
}
@media (min-width: 1024px) {
  .hero-section .container .right-box {
    margin-right: 0;
    padding: 60px 0 36px;
  }
}
@media (min-width: 1200px) {
  .hero-section .container .right-box {
    margin-right: -25px;
  }
}
@media (min-width: 1360px) {
  .hero-section .container .right-box {
    margin-right: -68px;
  }
}
.hero-section .container .right-box .logo-bg {
  aspect-ratio: 9/7;
  max-width: 304px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}
@media (min-width: 585px) {
  .hero-section .container .right-box .logo-bg {
    max-width: 375px;
  }
}
@media (min-width: 768px) {
  .hero-section .container .right-box .logo-bg {
    max-width: 325px;
  }
}
@media (min-width: 992px) {
  .hero-section .container .right-box .logo-bg {
    max-width: 450px;
  }
}
@media (min-width: 1360px) {
  .hero-section .container .right-box .logo-bg {
    max-width: 500px;
  }
}
.hero-section .container .right-box figure {
  aspect-ratio: 1/1;
  height: auto;
  margin: 0;
  width: 153px;
}
@media (min-width: 585px) {
  .hero-section .container .right-box figure {
    width: 200px;
  }
}
@media (min-width: 768px) {
  .hero-section .container .right-box figure {
    width: 175px;
  }
}
@media (min-width: 992px) {
  .hero-section .container .right-box figure {
    max-width: 200px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .hero-section .container .right-box figure {
    max-width: 237px;
  }
}
.hero-section .container .right-box figure img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 585px) {
  .hero-section {
    max-height: 650px;
    padding: 125px 0 70px;
  }
}
@media (min-width: 768px) {
  .hero-section {
    height: auto;
    max-height: auto;
    padding: 125px 0 85px;
  }
}
@media (min-width: 992px) {
  .hero-section {
    padding: 148px 0 50px;
  }
}
@media (min-width: 1200px) {
  .hero-section {
    padding: 180px 0 137px;
  }
}

/*# sourceMappingURL=main.css.map */
